p {
    text-align: center;
}

img {
    display: block;
    margin: -8px auto -14px auto;
}

a {
    color: rgb(0, 85, 159);
    font-weight:lighter;
}

main {
    display: grid;
    grid-template-columns: 37% 20% auto;
    gap: 3px;

    width: 90%;
    margin: 0 auto 0 auto ;
    font-style: normal;
}

ul {
    padding: 0;
    list-style-type: none;
}

.box {
    text-align: center;
}

.small {
    font-size: small;
}

/* Kutular - Start */
#search {
    background-color: rgb(238, 238, 238);
    grid-column-start: 1;
    grid-column-end: 4;
}

#box1 {
    background-color: rgb(126, 229, 218);
    flex: 37%;
}

#box1 ul{
    margin-top: 6px;
    margin-bottom: 0;
}


#box2 {
    background-color: rgb(112, 204, 194);

}

#box2 ul {
    margin-top: 5px;
    margin-bottom: 5px;
}

#box3 {
    background-color: rgb(98, 179, 170);
}
/* Kutular - End */
